# Exercício - Água precipitável
Calcule a água precipitável em uma coluna de ar saturada a 10km acima de 1m² de superfície. A pressão na superfície é de 101.3kPa, a temperatura é de 30°C e o gradiente adiabático 6.5°C/km. Use Δz = 2km.

In [1]:
import numpy as np
import pandas as pd

In [2]:
# Dados de entrada
T1 = 30+273.15 # K
alpha = 6.5/1000 # K/m 
p1 = 101300 # Pa
deltaZ = 2000 # m
altura = 10000 # m
area = 1

In [3]:
# Funcao para calcular a massa de agua precipitavel 
def AguaPrec(T1, alpha, p1, deltaZ, altura, area):
    Ra = 287 # J/kg*K
    g = 9.81 # m/s^2
    es1 = 611*np.exp((17.27*(T1-273.15))/(237.3+(T1-273.15)))
    qv1 = 0.622*es1/p1
    rho1 = p1/(Ra*T1) 
    dict = {
        'Temperatura (K)':[T1],
        'Pressão (Pa)':[p1],
        'Pressão de saturação (Pa)':[es1],
        'Umidade específica':[qv1],
        'Densidade do ar (kg/m³)':[rho1],
        'Água precipitável (kg)':[0] 
           } 
    for i in range(int(altura/deltaZ)):
        T2 = T1 - (alpha*deltaZ)
        p2 = p1*((T2/T1)**(g/(alpha*Ra)))
        es2 = 611*np.exp((17.27*(T2-273.15))/(237.3+(T2-273.15)))
        qv2 = 0.622*es2/p2
        rho2 = p2/(Ra*T2)
        qv, rho = (qv1+qv2)/2, (rho1+rho2)/2
        agua = qv*rho*area*deltaZ
        dict['Temperatura (K)'].append(T2)
        dict['Pressão (Pa)'].append(p2)
        dict['Pressão de saturação (Pa)'].append(es2)
        dict['Umidade específica'].append(qv2)
        dict['Densidade do ar (kg/m³)'].append(rho2)
        dict['Água precipitável (kg)'].append(agua)
        T1, p1, es1, qv1, rho1 = T2, p2, es2, qv2, rho2
    return dict # resultado em kg

In [4]:
resultados = pd.DataFrame(data=AguaPrec(T1, alpha, p1, deltaZ, altura, area)) 
print('Água precipitável = ', round(resultados['Água precipitável (kg)'].sum(), 4), 'mm\n')
resultados

Água precipitável =  76.9958 mm

,Temperatura (K),Pressão (Pa),Pressão de saturação (Pa),Umidade específica,Densidade do ar (kg/m³),Água precipitável (kg)
0,303.15,101300.000000,4244.454406,0.026062,1.164314,0.000000
1,290.15,80447.244472,1938.363841,0.014987,0.966066,43.724650
2,277.15,63215.519619,813.527390,0.008005,0.794743,20.241892
3,264.15,49102.766244,309.290895,0.003918,0.647699,8.598740
4,251.15,37657.370266,104.626466,0.001728,0.522438,3.303319
5,238.15,28475.203399,30.790546,0.000673,0.416614,1.127205

## Mudando os dados de entrada

In [5]:
# AguaPrec(T1, alpha, p1, deltaZ, altura, area) 
resultados = pd.DataFrame(data=AguaPrec(T1, alpha, p1, 1000, altura, area)) 
print('Água precipitável = ', round(resultados['Água precipitável (kg)'].sum(), 4), 'mm\n')
resultados

Água precipitável =  76.0289 mm

,Temperatura (K),Pressão (Pa),Pressão de saturação (Pa),Umidade específica,Densidade do ar (kg/m³),Água precipitável (kg)
0,303.15,101300.000000,4244.454406,0.026062,1.164314,0.000000
1,296.65,90387.562523,2896.478884,0.019932,1.061653,25.595138
2,290.15,80447.244472,1938.363841,0.014987,0.966066,17.701499
3,283.65,71411.349148,1270.132647,0.011063,0.877208,12.004309
4,277.15,63215.519619,813.527390,0.008005,0.794743,7.970012
5,270.65,55798.644825,508.373829,0.005667,0.718346,5.171567
6,264.15,49102.766244,309.290895,0.003918,0.647699,3.273332
7,257.65,43072.985119,182.768696,0.002639,0.582496,2.016651
8,251.15,37657.370266,104.626466,0.001728,0.522438,1.206434
9,244.65,32806.866454,57.849292,0.001097,0.467237,0.698944
10,238.15,28475.203399,30.790546,0.000673,0.416614,0.390964